body {
  background-image: url('../img/fondoCuatro.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.clickable {
  cursor: pointer;
  color: #000000; /* Amarillo */
}

#content {
  width: 80%;
}

